body {
  margin:0;
  font-family: 'Open Sans', sans-serif;
  background-color:#F9FAFB;
  margin-bottom:40px;
}

header {
  width:800px;
  padding-left:calc(50% - 400px);
  padding-right:calc(50% - 400px);
  background-color:#232935;
  color:#fff;
}

a {
  cursor:pointer;
}

section, footer {
  width:800px;
  padding-left:calc(50% - 400px);
  padding-right:calc(50% - 400px);
}

footer {
  text-align:center;
  color:#ccc;
  font-size:12px;
  padding-top:20px;
  padding-bottom:10px;
  font-weight:200;
}

header ul {
  list-style:none;
  margin:0;
  padding:0;
  padding-top:10px;
}

header ul a {
  color:#4B525A;
  text-decoration:none;
  font-size:13px;
  letter-spacing:1px;
  font-weight:200;
  padding:8px;
  display:inline-block;
  border-bottom:2px solid #232935;
}

#newtasktext, #textunder {
  font-family: sans-serif;
  font-weight:200;
  padding:0;
  margin:0;
  outline:0;
  font-size:24px;
  background-color:transparent;
  position:absolute;
  border:0;
  top:0;
  left:0;
  width:100%;
  padding:10px;
  font-family: 'Open Sans', sans-serif;
  color:#aeaeae;
  background-color:inherit;
  border:none;
  font-size:24px;
  font-weight:200;
  outline:0;
  margin:0;
  padding:0;
  width:100%;
}

.active {
  color:#FFF;
  border-bottom:2px solid #F800A7;
}

header li {
  display:inline-block;
  margin-right:20px;
}

.title {
  padding-top:20px;
}

::placeholder {
  color:#dedede;
  font-weight:200;
  font-family: 'Open Sans', sans-serif;
}

.todo {
  padding-top:30px;
  padding-bottom:30px;
  border-bottom:1px solid #efefef;
}

.list {
  padding-top:10px;
}

.item {
  margin:0;
  background-color:#fff;
  padding:20px;
  border-radius:2px;
  -webkit-box-shadow:0px 1px 1px #ccc;
 -moz-box-shadow:0px 1px 1px #ccc;
 box-shadow:0px 1px 1px #ccc;
 color:#010101;
 font-size:14px;
 margin-bottom:10px;
 font-weight:200;
}

h2 {
  color:#aeaeae;
  font-weight:200;
  font-size:18px;
  margin-top:40px;
  margin-bottom:20px;
}

h1 {
	font-weight:300;
}

.center_message {
	width:100%;
	text-align:center;
	color:#aeaeae;
	font-weight:200;
	font-size:24px;
	padding-top:50px;
}

.desc {
  max-width:60%;
  text-align:left;
  display:inline-block;

}

.actions {
  text-align:right;
  display:inline-block;
  float:right;
}

.actions a {
  text-decoration:none;
  font-weight:400;
  padding:5px;
  border-radius:2px;
  margin-left:10px;
}

.complete:hover {
  color:#fff;
  background-color:#3498db;
}

.snooze:hover {
	color:#fff;
	background-color:#c0c0c0;

}


.item_info {
	clear:both;
	outline:0;
	border:0;
	margin-top:20px;
	padding-top:20px;
	padding-bottom:20px;
	border-top:1px solid #ccc;
}

.by {
	color:#ccc;
}

.snooze {
	color:#c0c0c0;
}

.complete {
	color:#3498db;
}

.container {
  position:relative;
  display:block;
  height:35px;
  overflow:none;
  width:100%;
}

#newtasktext {
  z-index:10;
}

#textunder {
  color:transparent;
  white-space:pre;
}

.red {
  border-bottom:2px solid #F800A7;
}

.blue {
  border-bottom:2px solid #3498db;
}

.late {
	color:#F800A7;
}

.login {
  width:300px;
  padding:0;
  margin:0;
  margin-left:calc(50% - 150px);
  text-align:center;
  margin-top:10%;
}

.footer {
  max-width:200px;
  display:inline-block;
  margin-top:40px;
  font-size:12px;
  color:#ccc;
  text-align:center;
}

.footer a {
  color:inherit;
  text-decoration:underline;
}

.login input {
  outline:0;
  border:0;
  margin:0;
  padding:10px;
  display:block;
  width:100%;
  margin-top:15px;
}

.login a {
  color:#fff;
  background-color:#3498db;
  text-decoration:none;
  border-radius:2px;
  display:block;
  margin-top:20px;
  font-weight:400;
  padding:5px;
  font-size:14px;
}

.login h1 {
  font-size:40px;
}


@media only screen and (max-width: 850px) {
    header, section {
        width:90%;
        padding-left:5%;
        padding-right:5%;
    }

    .login {
      margin-left:5%;
      width:90%;
      margin-top:40px;
    }
}

@media only screen and (max-width: 500px) {
  .desc {
    display:block;
    float:none;
  }

  .actions {
    display:block;
    float:none;
    margin-top:20px;
  }

}
